version: '3'

services:
  redis:
    image: redis:alpine
    expose:
      - 6379
    restart: always
    environment:
      - REDIS_REPLICATION_MODE=master

  backend:
    image: node:alpine
    restart: always
    expose:
      - 3000
    volumes:
      - ./backend/:/home/node/app/backend/
      - ./helpers/:/home/node/app/helpers/
    working_dir: /home/node/app/backend
    environment:
      - NODE_ENV=production
    command: sh -c 'npm i && nodejs index.mjs'
    links:
      - redis
    depends_on:
      - redis

  frontend:
    build:
      context: ./frontend
      dockerfile: ".Dockerfile"
    restart: always
    ports:
      - "8080:8080"
    links:
      - backend
    depends_on:
      - backend
